body {
    font-family: sans-serif;
}
canvas {
    border-radius: 5pt;
    border: 1.5pt solid #555;
}
#menu {
    /*padding: 10px;*/
    width: 175pt;
    margin-left: 10pt;
    /*padding: 10pt;*/
    /*background: red;*/
}
#menu output {
    font-weight: bold;
    /*font-size: 12pt;*/
    /*padding-bottom: 10pt;*/
}
#menu > div, #menu > button {
    background: #eee;
    border-radius: 5pt;
    border: 1.5pt solid #555;
    margin: 0 0 10pt 0;
}
#menu > div {
    padding: 8pt 8pt 4pt 8pt;
}
#menu input {
    margin-top: 5pt;
    width: 155pt;
    /*box-sizing: border-box;*/
}
#menu > button {
    background: #ccc;
    width: 100%;
    margin-bottom: 5pt;
    padding: 4pt 8pt;
    font-size: 11pt;
}

#menu > button:active {
    background: #aaa;
}